.events-main {
    margin: 2rem;
}
.events-main h1 {
    margin: 1rem 0;
}
.event-items {
    width: 300px;
}
.event-individual {
    cursor: pointer;
    border-bottom: 1px solid black;
    padding: 8px 0;
}