.signup-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 100px auto;
    height: auto;
    min-height: 600px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    padding: 30px 15px;
    border-radius: 4px;
}

.signup-main form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.signup-main form svg {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.signup-main fieldset {
    margin: .4rem 0;
    padding: 0;
    border: none;
  }

.signup-main label {
    display: inline-block;
    font-size: 1rem;
}

.signup-main input {
    width: 100%;
    padding: 15px 10px;
    border: 1px solid var(--tw-stone-6);
    border-radius: 4px;
    background-color: var(--tw-neutral-0);
    outline: 0;
}

.signup-main p {
    color: var(--tw-red-6);
  }

.signup-main input::placeholder {
    color: var(--tw-stone-4);
    font-size: 1rem;
  }

  .signup-main input:focus {
    border: 1px solid var(--tw-sky-3);
  }