.account-update-modal {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.modal-div {
    color: blue;
    margin: 100px auto;
    width: 200px;
}

.account-main-div {
    margin: 2rem;
}

.account-main-div h2 {
    margin: 1rem 0;
}

.account-user-details h4 {
    margin: 1rem 0;
}

.account-user-details {
    border-bottom: 1px solid black;
}

.account-events-div {
    padding-bottom: 1rem;
}

.account-events-div h2 {
    border-bottom: 1px solid black;
    margin-top: 3rem;
    padding-bottom: 1rem;
}

.account-event {
    border-bottom: 1px solid black;
    margin-top: 1rem;
    padding-bottom: 1rem;
}